<!DOCTYPE html>
<html>
<head>

	<!-- metadata -->
	<title></title>
</head>
<body>
    <hr><br>

    <div class="container">
      <!-- [START games] -->
      
      <form action = "" method = "post">
      {% for game in games %}
      {% if game.email == '' %}
      <input type="checkbox"  name="displaygame" value="{{game.id}}">
       {{ game.message }}&nbsp;&nbsp;&nbsp;&nbsp; {{game.ESRB}}  &nbsp;&nbsp;&nbsp;&nbsp;{{game.platform}} &nbsp;&nbsp;&nbsp;&nbsp; {{game.developer}}  &nbsp;&nbsp;&nbsp;&nbsp;{{game.year}} &nbsp;&nbsp;&nbsp;&nbsp;{{game.price}}&nbsp;&nbsp;&nbsp;&nbsp;</label><br> 
         <br>
         <br>
      {% else %}
      <input type="checkbox"  name="displaygame" value="{{game.id}}">
       {{ game.message }}&nbsp;&nbsp;&nbsp;&nbsp; {{game.ESRB}}  &nbsp;&nbsp;&nbsp;&nbsp;{{game.platform}} &nbsp;&nbsp;&nbsp;&nbsp; {{game.developer}}  &nbsp;&nbsp;&nbsp;&nbsp;{{game.year}} &nbsp;&nbsp;&nbsp;&nbsp;{{game.price}}&nbsp;&nbsp;&nbsp;&nbsp;</label><br> 
         <br>
         <br>
      {% endif %}
      {% endfor %}
      <!-- [END games] -->
      <!-- {% if mark == 2 %}
      You have added that item
      {% endif %} -->
      {% if emailID == 2 %}  
      You need to log in first
      {% endif %}
      <input type="submit" class="btn btn-large btn-primary" value="Intocart">
   </form>
      <hr>

      

      

      <p><a  href="{{ url_for('index')}}">Return to main page</a></p>

</body>
</html>

