<!DOCTYPE html>
<html>
<head>

	<!-- metadata -->
	<title></title>
</head>
<body>
    <hr><br>
    {% if emailID == 1 %}
    <div class="container">
      <!-- [START games] -->
      {% for game in games %}
     
         
         
         <br>
         
         {{ game.message }}  &nbsp;&nbsp;&nbsp;&nbsp; {{game.timestamp}}  &nbsp;&nbsp;&nbsp;&nbsp; {{ game.username }}  &nbsp;&nbsp;&nbsp;&nbsp;
         <br>
         <br>
      
      {% endfor %}
      <!-- [END games] -->

      <hr>

    {% else %}
    You need to log in
    {% endif %}
      <p><a  href="{{ url_for('index')}}">Return to main page</a></p>

</body>
</html>
